{% extends '_layouts/app.html' %}
{% load crypto %}
{% block layout %}
    <div class="flex justify-center items-center">
        <img class="w-7 mb-4 me-1"
             alt="BTCScan Logo"
             src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Bitcoin.svg/800px-Bitcoin.svg.png">
        <h2 class="text-2xl font-black font-sans mb-4">BTCScan</h2>
    </div>

    {% if request.GET.err %}
        <div class="mb-3 bg-yellow-200 border border-y-amber-300 p-3 text-sm">
            <p>Looks like we cannot find the transaction you are looking for, maybe check your transaction hash?</p>
        </div>
    {% endif %}
    <div class="w-full max-w-md mx-auto bg-white rounded-md shadow-md overflow-hidden md:max-w-2xl mb-16 p-4 border border-gray-100">
        <div class="relative">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="absolute top-1/2 left-2 transform -translate-y-1/2 h-6 w-6 text-gray-600">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"></path>
            </svg>
            <form method="get" action="{% url 'explorer_search' %}">
                <label class="sr-only" for="tx-search">Transaction Hash</label>
                <input id="tx-search" name="tx_hash" type="search" required autofocus
                       class="block w-full border-none outline-none py-4 pl-9 pr-2.5 text-md text-custom-gray-black focus:bg-gray-50"
                       placeholder="Transaction hash (e.g. a1075db55d416d3ca199f55b6084e2115b9345e16c5cf302fc80e9d5fbf5d48d)">
            </form>
        </div>

    </div>
{% endblock %}

{% block script %}
    <script>
        let inputElement = document.getElementById('tx-search');
        inputElement.addEventListener('paste', function (e) {
            setTimeout(() => {
                inputElement.form.submit();
            }, 500);
        });
    </script>
{% endblock %}
