{% extends '_layouts/app.html' %}
{% load crypto common %}
{% block layout %}
    <a href="{% url 'explorer_index' %}" class="flex justify-center items-center">
        <img class="w-7 mb-4 me-1"
             alt="BTCScan Logo"
             src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Bitcoin.svg/800px-Bitcoin.svg.png">
        <h2 class="text-2xl font-black font-sans mb-4">BTCScan</h2>
    </a>

    <div class="max-w-md mx-auto bg-white rounded-md shadow-md md:max-w-2xl overflow-scroll mb_6 md:mb-12 p-4 border border-gray-100">
        <div class="md:flex">
            <div class="md:shrink-0 flex justify-center items-center flex-col p-3 md:p-6">
                {% if transaction.confirmed %}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5}
                         stroke="currentColor" class="w-16 h-16 text-green-500">
                        <path strokeLinecap="round" strokeLinejoin="round"
                              d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                    </svg>
                    <div class="text-xs bg-green-500 text-white p-1 mt-2">
                        Confirmed
                    </div>
                {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="w-16 h-16 text-yellow-500 animate-spin">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M21 7.5l-2.25-1.313M21 7.5v2.25m0-2.25l-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3l2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75l2.25-1.313M12 21.75V19.5m0 2.25l-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25"/>
                    </svg>
                    <div id="estimating-indicator" class="text-xs bg-amber-500 text-white p-1 mt-2 animate-pulse">
                        Estimating
                    </div>
                    <div id="estimation-element" class="text-xs text-gray-700 p-1 mt-2 font-light hidden text-center">
                        Confirming in <br>
                        <span></span> minutes
                    </div>
                {% endif %}
            </div>
            <div class="p-4 md:p-8">
                <div class="flex justify-end flex-col items-center mb-5 border border-gray-300 p-3 rounded-md">
                    <div class="font-light text-sm text-gray-500 mb-0">Amount in BTC</div>
                    <div class="uppercase tracking-wide font-semibold text-xl">{{ transaction.amount|sat_to_btc }}</div>
                </div>
                <div class="mb-2">
                    <div class="font-light text-xs text-gray-500 mb-0">Transaction ID</div>
                    <div class="text-sm">{{ transaction.txid|shorten_hash }}</div>
                </div>
                <div class="mb-2">
                    <div class="font-light text-xs text-gray-500 mb-0">Fee</div>
                    <div class="text-sm">{{ transaction.fee|sat_to_btc }} BTC</div>
                </div>
                <div class="mb-2">
                    <div class="font-light text-xs text-gray-500 mb-0">Date & Time</div>
                    <div class="text-sm">{% if transaction.block_time %}
                        {{ transaction.block_time|epoch_to_time|date:"Y-m-d H:i" }} {% else %}
                        Confirming {% endif %}</div>
                </div>
                <p id="tx-description" class="mt-3 text-slate-500">
                    {{ description }}
                </p>
                <div id="wait-recommendation" class="hidden">
                    <div id="accordion-header"
                         class="pt-3 pb-2 cursor-pointer text-gray-700 flex justify-start items-center text-yellow-500">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                             stroke="currentColor" class="w-4 h-4 me-1">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z"/>
                        </svg>
                        Is this transaction taking too long?
                    </div>
                    <div id="accordion-content" class="py-2 border-t hidden">
                        <div class="text-sm">
                            <p class="mb-3">
                                Bitcoin transaction can be slow when the transaction fee is too low or the network is
                                congested. In most cases, you can just wait it out. But if you like, you can:
                            </p>
                            <div class="grid grid-cols-3 gap-4 mt-2">
                                <a href="https://www.viabtc.com/tools/txaccelerator" target="_blank">
                                    <div class="flex flex-col justify-center items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                             stroke-width="1.5" stroke="currentColor"
                                             class="w-6 h-6 mb-1 text-gray-500">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z"/>
                                        </svg>
                                        <div class="text-center text-xs">Use Transaction Accelerator</div>
                                    </div>
                                </a>
                                <a href="https://insights.blockonomics.co/how-to-speed-up-bitcoin-transactions/#replace-by-fee-rbf-for-transactions-sent-by-you-" target="_blank">
                                    <div class="flex flex-col justify-center items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                             stroke-width="1.5" stroke="currentColor"
                                             class="w-6 h-6 mb-1 text-gray-500">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                        </svg>
                                        <div class="text-center text-xs">Pay Higher Fee<br>(For Sender)</div>
                                    </div>
                                </a>
                                <a href="https://insights.blockonomics.co/how-to-speed-up-bitcoin-transactions/#child-pays-for-parent-cpfp-for-transactions-you-receive-" target="_blank">
                                    <div class="flex flex-col justify-center items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                             stroke-width="1.5" stroke="currentColor"
                                             class="w-6 h-6 mb-1 text-gray-500">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="M7.5 21L3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5"/>
                                        </svg>
                                        <div class="text-center text-xs">Pay Higher Fee<br>(For Receiver)</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="w-full mt-4">
            <div id="accordion-header-detail"
                 class="px-4 py-2 cursor-pointer text-gray-700 flex justify-center items-center">
                <h2 class="text-xs text-gray-500 ">
                    More Information
                </h2>
                <div class="ml-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                         stroke="currentColor" class="w-3 h-3">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M19.5 5.25l-7.5 7.5-7.5-7.5m15 6l-7.5 7.5-7.5-7.5"/>
                    </svg>
                </div>
            </div>
            <div id="accordion-content-detail" class="p-4 border-t hidden">
                <h2 class="text-slate-500 mb-2">Details</h2>
                <div class="grid grid-cols-3 gap-4">
                    <div class="bg-gray-50 rounded-md p-2 flex flex-col md:flex-row md:justify-between md:items-center">
                        <div class="text-xs md:text-sm text-slate-500 mb-1 md:mb-0">Size</div>
                        <div class="text-xs md:text-base">{{ transaction.size }}<span
                                class="text-slate-500 text-xs ms-1">B</span></div>
                    </div>
                    <div class="bg-gray-50 rounded-md p-2 flex flex-col md:flex-row md:justify-between md:items-center">
                        <div class="text-xs md:text-sm text-slate-500 mb-1 md:mb-0">Virtual Size</div>
                        <div class="text-xs md:text-base">{{ transaction.v_size }}<span
                                class="text-slate-500 text-xs ms-1">vB</span></div>
                    </div>
                    <div class="bg-gray-50 rounded-md p-2 flex flex-col md:flex-row md:justify-between md:items-center">
                        <div class="text-xs md:text-sm text-slate-500 mb-1 md:mb-0">Weight</div>
                        <div class="text-xs md:text-base">{{ transaction.weight }}<span
                                class="text-slate-500 text-xs ms-1">WU</span></div>
                    </div>
                    <div class="bg-gray-50 rounded-md p-2 flex flex-col md:flex-row md:justify-between md:items-center">
                        <div class="text-xs md:text-sm text-slate-500 mb-1 md:mb-0">Fee</div>
                        <div class="text-xs md:text-base">{{ transaction.fee }}</div>
                    </div>
                    <div class="bg-gray-50 rounded-md p-2 flex flex-col md:flex-row md:justify-between md:items-center">
                        <div class="text-xs md:text-sm text-slate-500 mb-1 md:mb-0">Fee Rate</div>
                        <div class="text-xs md:text-base">{{ transaction.fee_rate|floatformat:2 }}</div>
                    </div>
                    <div class="bg-gray-50 rounded-md p-2 flex flex-col md:flex-row md:justify-between md:items-center">
                        <div class="text-xs md:text-sm text-slate-500 mb-1 md:mb-0">Block</div>
                        <div class="text-xs md:text-base">{% if transaction.block_height %}
                            {{ transaction.block_height }} {% else %} - {% endif %}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        {% if not transaction.confirmed %}
            async function estimate() {
                let response = await fetch('{% url 'api_estimator' %}?tx_hash={{ transaction.txid }}');
                let payload = await response.json() // {status: 'ok', result: {time_to_confirmation: 120, description: 'describe'}}
                console.log(payload)
                if (payload && payload.status === 'ok') {
                    updateEstimate(payload.result.time_to_confirmation)
                    updateDescription(payload.result.description)
                    showRecommendation()
                }
            }

            function updateEstimate(minute) {
                let estimatingIndicator = document.getElementById('estimating-indicator');
                let estimationElement = document.getElementById('estimation-element');
                estimatingIndicator.classList.add('hidden');
                estimationElement.classList.remove('hidden');
                estimationElement.getElementsByTagName('span')[0].innerText = minute
            }

            function updateDescription(description) {
                let descriptionElement = document.getElementById('tx-description')
                descriptionElement.innerHTML = description
            }

            function showRecommendation() {
                document.getElementById('wait-recommendation').classList.remove('hidden')
            }

            estimate()
        {%  endif %}

        document.getElementById('accordion-header').addEventListener('click', function () {
            const content = document.getElementById('accordion-content');
            if (content.classList.contains('hidden')) {
                content.classList.remove('hidden');
            } else {
                content.classList.add('hidden');
            }
        });

        document.getElementById('accordion-header-detail').addEventListener('click', function () {
            const content = document.getElementById('accordion-content-detail');
            if (content.classList.contains('hidden')) {
                content.classList.remove('hidden');
            } else {
                content.classList.add('hidden');
            }
        });
    </script>
{% endblock %}


